header {
	color: red;
	text-align: center;
	padding-bottom: 30px;
	font-size: 80px;
	margin-top: 50px;
	margin-bottom: 40px;
}
.col-sm {
	border: solid 2px;
	height: 150px;
	text-align: center;
	padding: 30px;
	margin: 15px;
	font-size: 55px;
}
.output-box {
	border: solid 2px;
	height: 100px;
	margin-left: 55px;
	margin-right: 55px;
	margin-bottom: 50px;


}